body {

    background-image: url("../../Photos/Programming\ BG\ jpg");
    background-size: 1600px 900px;
    background-repeat: no-repeat;

}

.h1 {

    color: white;
    text-align: center;
    margin: 50px;

}

.button {

    color: white;
    background-color: #6f42c1;

    margin: 0px 700px;
    display: inline-block;
        
    font-size: 40px;
    text-decoration: none;

    border-radius: 50px;
    border: 10px solid #6f42c1;
    
}